<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="static/base.css">
</head>

  <h1>Welcome!</h1>
  <h2>What would you like to practice?</h2>

  <table class = 'center'>
    <tr>
      <th>Verb Conjugations</th>
      <th>Noun Cases</th>
    </tr>
  <tr style='text-align:left;'>
    <td style='vertical-align: top;'>
      <ul>
        <li><form action='/2' method="POST">
            <input type='hidden' name='case' value='present'/>
            <input type='submit' value='Present Tense'/>
          </form>
        <li>Past</li>
        <li>Future</li>
      </ul>
    </td>
    
    <td>
      <ul>
        <li>
          <form action='/2' method="POST">
            <input type='hidden' name='case' value='nominative plural'/>
            <input type='submit' value='Nominative (plural)'/>
          </form>  
        </li>
        <li><span>Genitive - 
          <form action='/2' method="POST">
            <input type='hidden' name='case' value='genitive'/>
            <input type='submit' value='Singular'/>
          </form>
        
          <form action='/2' method="POST">
            <input type='hidden' name='case' value='genitive plural'/>
            <input type='submit' value='Plural'/>
          </form>
          </span>
        <li>
          <form action='/2' method="POST">
            <input type='hidden' name='case' value='accusative singular'/>
            <input type='submit' value='Accusative Singular'/>
          </form>

          <form action='/2' method="POST">
            <input type='hidden' name='case' value='accusative plural'/>
            <input type='submit' value='Accusative Plural'/>
          </form>
          
        </li>
        <li>
          <form action='/2' method="POST">
            <input type='hidden' name='case' value='dative singular'/>
            <input type='submit' value='Dative Singular'/>
          </form>

            <form action='/2' method="POST">
            <input type='hidden' name='case' value='dative plural'/>
            <input type='submit' value='Dative Plural'/>
          </form>
        </li>
        <li>
          <form action='/2' method="POST">
            <input type='hidden' name='case' value='prepositional singular'/>
            <input type='submit' value='Prepositional Singular'/>
          </form>

          <form action='/2' method="POST">
            <input type='hidden' name='case' value='prepositional plural'/>
            <input type='submit' value='Prepositional Plural'/>
          </form>
        </li>
        <li>Instrumental</li>
      </ul>
    </td>
  </tr>
</table>
  
</html>