{% extends "base.html" %}
  {% block content %}
    <h1>{{ page_title }}</h1>
    <h2>Write the {{ case }} of {{ russian }}</h2>

    <div id = 'answer_form' style='display:block'>
      <form action="#" onsubmit="myFunction();return false">
        <input type="text" name="answer" id="userInput"></input>
        <input type="submit"/>
      </form>
    </div>

    <div id="correct" style="display:none">
      <h3 style='color:green'>Correct!</h3>
      <p id="output"></p>
      <form action='{{ route }}'>
        <input type='hidden' name='return' value='return'/>
        <input type="submit" value="Practice Again" />
      </form>
    </div>

    <div id="incorrect" style="display:none">
      <h3 style='color:red'>Incorrect</h3>
      <p id="output_2"></p>
      <form action='{{ route }}'>
        <input type='hidden' name='return' value='return'/>
        <input type="submit" value="Practice Again" />
      </form>
    </div>

<script>
function myFunction() {
  var x = document.getElementById("correct");
  var z = document.getElementById('incorrect')
  var y = document.getElementById('answer_form');
  var input = document.getElementById('userInput').value;

  var js_correct_ans = '{{ correct_ans }}';
  var js_case = '{{ case }}';
  var js_russian = '{{ russian }}';

  y.style.display = "none";

  if (input === js_correct_ans) {
    x.style.display = "block";
    document.getElementById('output').innerHTML = "The " + js_case + " is " + js_correct_ans;
  }

  else {
    z.style.display = "block";
    document.getElementById('output_2').innerHTML = "The " + js_case + " is " + js_correct_ans;
  }
}
</script>
  {% endblock %}