{% extends "base.html" %}
  {% block content %}
    <h1>{{ page_title }}</h1>
    <h2>Write the {{ case }} of {{ russian }}</h2>
    <form action="/3" method="POST">
    <input type="hidden" name="case" value="{{ case }}" />
    <input type="hidden" name="english" value="{{ english }}" />
    <input type="hidden" name="russian" value="{{ russian }}" />
    <input type="hidden" name="gender" value="{{ gender }}" />
    <input type="hidden" name="route" value="{{ route }}" />
    <input type="hidden" name="page_title" value="{{ page_title }}" />
    <input type="text" name="answer"></input>
      <button>Check!</button>
    </form>
  {% endblock %}

<!--
<!DOCTYPE html>
<html lang="en">
  <h1>Genitive</h1>
  <h2>Write the genitive of the word below</h2>
  <h3>{{ word }}</h3>
  <input></input>

<a href="/">Home</a>
</html>
╌>