{% extends "base.html" %}
  {% block content %}
    <h1>{{ page_title }}</h1>
    <h2>Write the {{ case }} of {{ russian }}</h2>

    <div id = 'answer_form' style='display:block'>
      <form action="#" onsubmit="myFunction();return false">
        <input type="text" name="answer" id="userInput"></input>
        <input type="submit"/>
      </form>
    </div>

<!---
    <form action="" method="POST">
    <input type="text" name="answer"></input>
      <button onclick="myFunction()">Check!</button>
    </form>
--->

    <div id="myDIV" style="display:none">
      <p id="output"></p>
    </div>

<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  var y = document.getElementById('answer_form')
  var input = document.getElementById('userInput').value;

  var js_correct_ans = '{{ correct_ans }}'
  var js_case = '{{ case }}'
  var js_russian = '{{ russian }}'
  
  if (x.style.display === "none") {
    x.style.display = "block";
    y.style.display = "none"
    if (input === js_correct_ans) {
      document.getElementById('output').innerHTML = "Correct! The " + js_case + " of " + js_russian + " is " + js_correct_ans;
    }
  } else {
    x.style.display = "none";
  }
}
</script>
  {% endblock %}